<!DOCTYPE html>
<html>
  <head>
    <title>Shifts Management: <%= @page_title || "Admin Area" %></title>
    <%= stylesheet_link_tag('admin', :media => 'all') %>
  </head>
  <body>

    <div id="header">
      <h1>Shifts Management</h1>
    </div>
    <div id="main">
      <% if !flash[:notice].blank? %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <div id="content">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
    </div>
  </body>
</html>
